<div class="container Repors">
    <div class="card" *ngFor="let repository of repo" class="repo">
      <div class="card-body">
        <h5 class="card-title"><span class="top">Repo Name:</span>{{repository.name}} </h5>
        <div class="card-text">
          <hr>
          <div class="desc"><span class="top">Description:</span> {{repository.description}}
          </div>
          <hr>
          <div class="card-subtitle mb-2">
            <span class="top">Language: </span> {{repository.language}}
          </div>
          <div class="card-subtitle mb-2"><span class="top">Created: <span id="created">{{repository.created_at}}</span>
              On:</span>
            {{repository.created_at}}
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="btn-group" role="group" aria-label="Third group">
          <button class="btn btn-sm btn-info"><i class="fa fa-eye" style="font-size:16px"></i> <span
              class="forks">{{repository.watchers_count}}</span></button>
        </div>
        <div class="btn-group" role="group" aria-label="Third group">
          <button class="btn btn-sm btn-outline-danger"><i class="fa fa-code-fork" style="font-size:16px"></i>
            <span class="forks">{{repository.forks}}</span></button>
        </div>
        <div class="btn-group" role="group" aria-label="Third group">
          <button class="btn btn-sm btn-success" id="visit"><a href="{{repository.html_url}}" class="card-link">VIEW
              <i class="fa fa-arrow-circle-right" style="font-size:16px"></i></a> </button>
        </div>
        <div class="footer-copyright py-3">
          © 2020 Copyright:
          <a href="#" target="_blank"> ian shem</a>
        </div>
      </div>
    </div>
  </div>
  
